
.weather-labels {
	color: #579ad4;
	font-size: 12px;
	line-height: 14px;
}
.weather-labels .temp-min  { color:#68f; }
.weather-labels .temp-max  { color:#f86; }

/* TODO aggiungi prefix weather-icon */

.wind-icon,
.temp-icon,
.umid-icon {
	background:url("/packages/keplerjs_wunderground/assets/images/weather.svg") no-repeat;
	display: inline-block;
	width:50px;
	height:50px;
}
.sky-icon {
	width:50px;
	height:50px;
}
.sky-icon.chancerain	{ background-position: 0 -50px }
.sky-icon.chancesnow	{ background-position: -50px -50px }
.sky-icon.chancetstorms	{ background-position: -100px -50px }
.sky-icon.clear			{ background-position: -150px -50px }
.sky-icon.cloudy		{ background-position: -200px -50px }
.sky-icon.fog			{ background-position: -250px -50px }
.sky-icon.mostlycloudy	{ background-position: -300px -50px }
.sky-icon.partlycloudy	{ background-position: -350px -50px }
.sky-icon.rain			{ background-position: -400px -50px }
.sky-icon.sleet			{ background-position: -450px -50px }
.sky-icon.snow			{ background-position: -500px -50px }
.sky-icon.tstorms		{ background-position: -550px -50px }
/*.sky-icon.	{ background-position: -600px -50px }
.sky-icon.	{ background-position: -650px -50px }
.sky-icon.	{ background-position: -700px -50px }
.sky-icon.	{ background-position: -750px -50px }*/
/*0, 22.5, 45, 67.5, 90, 112.5, 135, 157.5, 180, 202.5, 225, 247.5, 270, 292.5, 315, 337.5*/
.wind-icon      { background-position: 0 0 }
.wind-icon.n    { transform: rotate(0deg) }
.wind-icon.nne	{ transform: rotate(22.5deg) }
.wind-icon.ne	{ transform: rotate(45deg) }
.wind-icon.ene	{ transform: rotate(67.5deg) }
.wind-icon.e	{ transform: rotate(90deg) }
.wind-icon.ese	{ transform: rotate(112.5deg) }
.wind-icon.se	{ transform: rotate(135deg) }
.wind-icon.sse	{ transform: rotate(157.5deg) }
.wind-icon.s    { transform: rotate(180deg) }
.wind-icon.ssw	{ transform: rotate(202.5deg) }
.wind-icon.sw	{ transform: rotate(225deg) }
.wind-icon.wsw	{ transform: rotate(247.5deg) }
.wind-icon.w	{ transform: rotate(270deg) }
.wind-icon.wnw	{ transform: rotate(292.5deg) }
.wind-icon.nw	{ transform: rotate(315deg) }
.wind-icon.nnw	{ transform: rotate(337.5deg) }

.temp-icon { background-position: 0 -50px; }
.umid-icon { background-position: -50px -50px; }

